@model WebApplication.Page
@{
    ViewBag.Title = WebApplication.Resources.Common.Page + " - " + WebApplication.Resources.Common.Details;
    ViewBag.PageTitle = WebApplication.Resources.Common.Pages;
}
@section AdditionScriptsEnd{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.5.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.visualize.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/widgets.js")"></script>
}
@section AdditionalOnready{
jQuery('.accordion_container').accordion();
}
@using (Html.BeginForm("Create", "Page", FormMethod.Post, new { @Class = "form label-inline uniform" }))
{
    <div class="content_pad">
        <h3>@WebApplication.Resources.Common.Details</h3>
        <div class="accordion_container" style="min-height: 429px;">
            <h2 class="accordion_panel active">
                <a href="#">Magyar verzió</a></h2>
            <div class="accordion_content" style="display: block;">
                <div class="field">
                    @Html.LabelFor(model => model.huTitle, "Cím")
                    <span class="content">
                        @Html.DisplayFor(model => model.huTitle)
                    </span>
                </div>
                <div class="field">
                    @Html.LabelFor(model => model.huContent, "Tartalom")
                    <span class="content">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.huContent))
                    </span>
                </div>
            </div>
            <!-- .accordion_content -->
            <h2 class="accordion_panel">
                <a href="#">English version</a></h2>
            <div class="accordion_content" style="display: none;">
                <div class="field">
                    @Html.LabelFor(model => model.enTitle, "Title")
                    <span class="content">
                        @Html.DisplayFor(model => model.enTitle)
                    </span>
                </div>
                <div class="field">
                    @Html.LabelFor(model => model.enContent, "Content")
                    <span class="content">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.enContent))
                    </span>
                </div>
            </div>
            <!-- .accordion_content -->
        </div>
    </div> 
    <div class="content_pad">
        @Html.ActionLinkButton(Url, "Delete", "Page", new { id = Model.Id }, WebApplication.Resources.Common.Delete)
        @Html.ActionLinkButton(Url, "Index", "Page", null, WebApplication.Resources.Common.BackToList)
    </div>
}