@model WebApplication.Models.AdminModel
@{
    ViewBag.Title = WebApplication.Resources.Common.Admin;
    ViewBag.PageTitle = WebApplication.Resources.Common.Admin;
    var rssModel = ViewBag.RssFeed as WebApplication.Models.RssModel;
}
<div class="content_pad">
    <div class="square">
        <div class="inside">
            <h3>@WebApplication.Resources.Admin.Index.CountOfEntries</h3>
            <div>@WebApplication.Resources.Admin.Index.text1</div>
            <h1>@Model.AllEntriesCount</h1>
            <div>@WebApplication.Resources.Admin.Index.text2</div>
        </div>
    </div>
    <div id="middle-square" class="square @if (Model.NewMessagesCount > 0)
                                          {<text>red-square</text>}">
        <div class="inside">
            <h3>@WebApplication.Resources.Admin.Index.Messages</h3>
            <div>@WebApplication.Resources.Admin.Index.text5</div>
            <h1>@Model.NewMessagesCount</h1>
            <div>@WebApplication.Resources.Admin.Index.text6</div>
        </div>
    </div>
    <div class="square">
        <div class="inside">
            <h3>@WebApplication.Resources.Admin.Index.CountOfEntriesInThisMonth</h3>
            <div>@WebApplication.Resources.Admin.Index.text3</div>
            <h1>@Model.AllEntriesCountInThisMonth</h1>
            <div>@WebApplication.Resources.Admin.Index.text4</div>
        </div>
    </div>
    <div class="rssfeeds">
        @(Html.Telerik().Chart((IEnumerable<WebApplication.Models.DailyVisitors>)ViewBag.DailyVisitors)
        .Name("chartDaily")
        .Title(title => title
            .Text("Napi egyedi látogatók száma az előző egy hétben")
            .Visible(true)
        )
        .Legend(legend => legend
            .Position(ChartLegendPosition.Top)
            .Visible(true)
        )
        .SeriesDefaults(series =>
        {
            series.Column().Stack(true);
        })
        .Series(series =>
        {
            series.Column(s => s.Count).Name("Látogatók száma");                        
        })
        .CategoryAxis(axis => axis
            .Categories(s => s.Day)
        )
        .ValueAxis(axis => axis
            .Numeric().Labels(labels => labels.Format("{0:#,##0}"))
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0:#,##0}")
        )
        .HtmlAttributes(new { style = "padding: 2%; float: left; width: 46%; height: 400px;" })
    )

    @(Html.Telerik().Chart((IEnumerable<WebApplication.Models.MonthlyVisitors>)ViewBag.MonthlyVisitors)
        .Name("chartMonthly")
        .Title(title => title
            .Text("Havi egyedi látogatók száma az előző egy évben")
            .Visible(true)
        )
        .Legend(legend => legend
            .Position(ChartLegendPosition.Top)
            .Visible(true)
        )
        .SeriesDefaults(series =>
        {
            series.Column().Stack(true);
        })
        .Series(series =>
        {
            series.Column(s => s.Count).Name("Látogatók száma");                        
        })
        .CategoryAxis(axis => axis
            .Categories(s => s.Month)
        )
        .ValueAxis(axis => axis
            .Numeric().Labels(labels => labels.Format("{0:#,##0}"))
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0:#,##0}")
        )
        .HtmlAttributes(new { style = "float: left; padding: 2%; width: 46%; height: 400px;" })
    )
    </div>
    <div class="rssfeeds">
    </div>
</div>
