@model Entry
@if ((string)ViewContext.RouteData.Values[MvcGlobalisationSupport.GlobalisedRoute.CultureKey] == "en")
{
    ViewBag.Title = Model.enTitle;
    <div class="accordion_container" style="min-height: 38px;">
        <h2 class="accordion_panel active">
            Reading the post</h2>
    </div>
    <div class="entry">
        <div class="entry-title">@Model.enTitle
        </div>
        <div class="entry-info">
            <span style="margin: 0 10px 0 0;">Date: @Model.PublishedDate.ToLongDateString()</span>
            @if (Model.Categories.Count > 1)
            {
                <text>Categories &raquo; </text>
            }
            else
            {
                <text>Category &raquo; </text>
            }
            @foreach (var category in Model.Categories)
            {
                <text>@category.enTitle</text>
            }
        </div>
        <div class="entry-content">
            <span style="font-weight: bold; font-style: italic;">@Html.Raw(HttpUtility.HtmlDecode(Model.enIntroduction))</span>
            <br />
            @Html.Raw(HttpUtility.HtmlDecode(Model.enContent))
        </div>
        <div class="entry-bottom">
        </div>
    </div>
}
else
{
    ViewBag.Title = Model.huTitle; 
    <div class="accordion_container" style="min-height: 38px;">
        <h2 class="accordion_panel active">
            Bejegyzés olvasása</h2>
    </div>   
    <div class="entry">
        <div class="entry-title">@Model.huTitle
        </div>
        <div class="entry-info">
            <span style="margin: 0 10px 0 0;">Dátum: @Model.PublishedDate.ToLongDateString()</span>
            @if (Model.Categories.Count > 1)
            {
                <text>Kategóriák &raquo; </text>
            }
            else
            {
                <text>Kategória &raquo; </text>
            }
            @foreach (var category in Model.Categories)
            {
                <text>@category.huTitle</text>
            }
        </div>
        <div class="entry-content">
            <span style="font-weight: bold; font-style: italic;">@Html.Raw(HttpUtility.HtmlDecode(Model.huIntroduction))</span>
            <br />
            @Html.Raw(HttpUtility.HtmlDecode(Model.huContent))
        </div>
        <div class="entry-bottom">
        </div>
    </div>
}
