@model Entry
@if (Culture != "hu-HU")
{
    ViewBag.Title = Model.enTitle;
    <div class="accordion_container" style="min-height: 38px;">
        <h2 class="accordion_panel active">
            </h2>
    </div>
    <div class="entry">
        <div class="entry-title">@Model.enTitle
        </div>
        <div class="entry-info">
            <span style="margin: 0 10px 0 0;">Date: @Model.PublishedDate.ToLongDateString()</span>
            @if (Model.Categories.Count > 1)
            {
                <text>Categories &raquo; </text>
            }
            else
            {
                <text>Category &raquo; </text>
            }
            @foreach (var category in Model.Categories)
            {
                <text>@category.enTitle</text>
            }
        </div>
        <div class="entry-content">
            <div style="font-weight: bold;">@Html.Raw(HttpUtility.HtmlDecode(Model.enIntroduction))</div>
            <br />
            @Html.Raw(HttpUtility.HtmlDecode(Model.enContent))
            @if (Model.Files.Count > 0)
            {
                if (!ViewBag.Logged)
                {                    
                    <h3>@WebApplication.Resources.Common.NotPermissionAttachments</h3>
                }
                else
                {
                    <div class="attachments" style="margin-top: 5px;">
                    @{
                    foreach (var item in Model.Files)
                    {
                            <text>@Html.ActionLink(item.Name + " (" + Common.GetMimeType(item.Name) + ")", "Index", "Download", new { id = item.Location }, new { target = "_blank" })
                           <br /></text>
                    }
                    }
                    </div>
                }
            }            
            <h2>@WebApplication.Resources.Common.Keywords</h2>            
            @foreach (var item in Model.Keywords.Where(e => e.Type == true))
	        {
		        <span style="margin: 0 5px;">@item.Value</span>
	        }
        </div>
        <div class="entry-bottom">        
            <h2>@WebApplication.Resources.Common.Comments</h2>
            
        @if (!ViewBag.Logged)
        {
            <h3>@WebApplication.Resources.Common.NotPermissionComment</h3>
        }
        else
        {
            using (Html.BeginForm("Add", "Comment", FormMethod.Post))
            {
                <text>
                    <input type="hidden" name="entryId" id="entryId" value="@Model.Id" />
                    <textarea placeholder="@WebApplication.Resources.Common.CommentPlaceholder" name="message" style="width: 500px; margin-left: 20px; height: 110px;" cols="0" rows="0" id="message"></textarea>
                    <input type="submit" value="@WebApplication.Resources.Common.Send" />
                </text>
            }
        }
        
        @foreach (var comment in Model.Comments)
        {
            <div class="comment">
                <div class="content">
                    @comment.Content
                </div>
                <div class="bottom">
                    <div class="left">
                        @if (ViewBag.Logged && (int.Parse((string)Session["UserId"]) == comment.User.Id || (UserTypes)Session["UserType"] >= UserTypes.Administrator))
                        {                            
                            @Html.ActionLink(WebApplication.Resources.Common.Delete, "Delete", "Comment", new { id = comment.Id }, null)                            
                        }
                        <span>@comment.User.Username</span>
                    </div>
                    <div class="center"></div>
                    <div class="right">
                        <span>@comment.Date</span>
                    </div>
                </div>
            </div>
        }

        <!-- Kommentek -->

        </div>
    </div>
}
else
{
    ViewBag.Title = Model.huTitle; 
    <div class="accordion_container" style="min-height: 38px;">
        <h2 class="accordion_panel active">
            Bejegyzés olvasása</h2>
    </div>   
    <div class="entry">
        <div class="entry-title">@Model.huTitle
        </div>
        <div class="entry-info">
            <span style="margin: 0 10px 0 0;">Dátum: @Model.PublishedDate.ToLongDateString()</span>
            @if (Model.Categories.Count > 1)
            {
                <text>Kategóriák &raquo; </text>
            }
            else
            {
                <text>Kategória &raquo; </text>
            }
            @foreach (var category in Model.Categories)
            {
                <text>@category.huTitle</text>
            }
        </div>
        <div class="entry-content">
            <div style="font-weight: bold;">@Html.Raw(HttpUtility.HtmlDecode(Model.huIntroduction))</div>
            <br />
            @Html.Raw(HttpUtility.HtmlDecode(Model.huContent))
            @if (Model.Files.Count > 0)
            {
                if (!ViewBag.Logged)
                {                    
                    <h3>@WebApplication.Resources.Common.NotPermissionAttachments</h3>
                }
                else
                {
                    <div class="attachments" style="margin-top: 5px;">
                    @{
                    foreach (var item in Model.Files)
                    {
                            <text><span class="attachments-element" id="attachment-@item.Id">@Html.ActionLink(item.Name + " (" + Common.GetMimeType(item.Name) + ")", "Index", "Download", new { id = item.Location }, new { target = "_blank" })</span>
                           <br /></text>
                    }
                    }
                    </div>
                }
            }
            <h2>@WebApplication.Resources.Common.Keywords</h2>            
            @foreach (var item in Model.Keywords.Where(e => e.Type == false))
	        {
		        <span style="margin: 0 5px;">@item.Value</span>
	        }
        </div>
        <div class="entry-bottom">        
            <h2>@WebApplication.Resources.Common.Comments</h2>
            
        @if (!ViewBag.Logged)
        {
            <h3>@WebApplication.Resources.Common.NotPermissionComment</h3>
        }
        else
        {
            using (Html.BeginForm("Add", "Comment", FormMethod.Post))
            {
                <text>
                    <input type="hidden" name="entryId" id="entryId" value="@Model.Id" />
                    <textarea placeholder="@WebApplication.Resources.Common.CommentPlaceholder" name="message" style="width: 500px; margin-left: 20px; height: 110px;" cols="0" rows="0" id="message"></textarea>
                    <input type="submit" value="@WebApplication.Resources.Common.Send" />
                </text>
            }
        }
        
        @foreach (var comment in Model.Comments)
        {
            <div class="comment">
                <div class="content">
                    @comment.Content
                </div>
                <div class="bottom">
                    <div class="left">
                        @if (ViewBag.Logged && (int.Parse((string)Session["UserId"]) == comment.User.Id || (UserTypes)Session["UserType"] >= UserTypes.Administrator))
                        {                            
                            @Html.ActionLink(WebApplication.Resources.Common.Delete, "Delete", "Comment", new { id = comment.Id }, null)                            
                        }
                        <span>@comment.User.Username</span>
                    </div>
                    <div class="center"></div>
                    <div class="right">
                        <span>@comment.Date</span>
                    </div>
                </div>
            </div>
        }

        <!-- Kommentek -->

        </div>
    </div>
}
