@model Entry
    
@{
    int year = Model.PublishedDate.Year;
    int month = Model.PublishedDate.Month;
    int day = Model.PublishedDate.Day;
    string date = year.ToString() + ((month < 10) ? "0" : "") + month.ToString() + ((day < 10) ? "0" : "") + day.ToString();
    
}       
@section AdditionalScripts
{
    <script type="text/javascript">
        $(document).ready(function () {            

            function getHostname()
            {
                var full = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
                return full;
            }

            $(document).keypress(function (e) {
                var additional = $(window).scrollTop() + 50;
                if ($("*:focus").length != 0)
                    return;
                switch (e.which) {
                    //back   
                    case 98:
                        @if (ViewBag.NextDate != null)
                        {
                            if (Culture != "hu-HU")
                            {
                                string url = "en/Entries/" + ViewBag.NextDate + "/" + ViewBag.NextId + "/" + ViewBag.NextEnTitle;
                                <text>
                                    var url = getHostname() + '/@url'
                                    window.location.href = url;
                                </text>
                            }
                            else
                            {
                                string url = "hu/Entries/" + ViewBag.NextDate + "/" + ViewBag.NextId + "/" + ViewBag.NextHuTitle;
                                <text>
                                    var url = getHostname() + '/@url'
                                    window.location.href = url;
                                </text>
                            }
                        }                         
                        break;
                    //next   
                    case 110:
                        @if (ViewBag.BackDate != null)
                        {
                            if (Culture != "hu-HU")
                            {
                                string url = "en/Entries/" + ViewBag.BackDate + "/" + ViewBag.BackId + "/" + ViewBag.BackEnTitle;
                                <text>
                                    var url = getHostname() + '/@url'
                                    window.location.href = url;
                                </text>
                            }
                            else
                            {
                                string url = "hu/Entries/" + ViewBag.BackDate + "/" + ViewBag.BackId + "/" + ViewBag.BackHuTitle;
                                <text>
                                    var url = getHostname() + '/@url'
                                    window.location.href = url;
                                </text>
                            }
                        } 
                        break;
                }

            });
        });

    </script>
}
@if (Culture != "hu-HU")
{
    ViewBag.Title = Model.enTitle;
    <div class="accordion_container" style="min-height: 38px;">
        <h2 class="accordion_panel active">
        </h2>
    </div>
    <div class="entry">
        <div class="entry-title">@Model.enTitle
        </div>
        <div class="entry-info">
            <span style="margin: 0 10px 0 0;">Date: @Model.PublishedDate.ToLongDateString()</span>
            @if (Model.Categories.Count > 1)
            {
                <text>Categories &raquo; </text>
            }
            else
            {
                <text>Category &raquo; </text>
            }
            @foreach (var category in Model.Categories)
            {
                <text>@category.enTitle</text>
            }
        </div>
        <div class="entry-content">
            <div style="font-weight: bold;">@Html.Raw(HttpUtility.HtmlDecode(Model.enIntroduction))</div>
            <br />
            @Html.Raw(HttpUtility.HtmlDecode(Model.enContent))
            @if (Model.Files.Count > 0)
            {
                if (!ViewBag.Logged)
                {                    
                <h3>@WebApplication.Resources.Common.NotPermissionAttachments</h3>
                }
                else
                {
                <div class="attachments" style="margin-top: 5px;">
                    @{
                    foreach (var item in Model.Files)
                    {
                        <text>@Html.ActionLink(item.Name + " (" + Common.GetMimeType(item.Name) + ")", "Index", "Download", new { id = item.Location }, new { target = "_blank" })
                        <br /></text>
                    }
                    }
                </div>
                }
            }
            <h2>@WebApplication.Resources.Common.Keywords</h2>
            @foreach (var item in Model.Keywords.Where(e => e.Type == true))
            {
                <span class="keywords" style="margin: 0 5px;">@item.Value</span>
            }
            @if (Session["UserType"] != null && (UserTypes)Session["UserType"] >= UserTypes.Administrator)
            {
                @Html.ActionLinkButton(Url, "Edit", "Entry", new { id = Model.Id }, "Admin") 
            }
        </div>
        <div class="entry-bottom">
            <div class="fb">@Common.FacebookLink(date, Model.Id, Model.enTitle.Urlable(), "en/") @Common.TwitterLink(date, Model.Id, Model.enTitle.Urlable(), "en/")   @Common.GooglePlusLink(date, Model.Id, Model.enTitle.Urlable(), "en/")</div>
            <h2 style="padding: 5px;">@WebApplication.Resources.Common.Comments</h2>
            @if (!ViewBag.Logged)
            {
                <h3>@WebApplication.Resources.Common.NotPermissionComment</h3>
            }
            else
            {
                using (Html.BeginForm("Add", "Comment", FormMethod.Post))
                {
                <text>
                <input type="hidden" name="entryId" id="entryId" value="@Model.Id" />
                <textarea placeholder="@WebApplication.Resources.Common.CommentPlaceholder" name="message" style="width: 500px; margin-left: 20px; height: 110px;" cols="0" rows="0" id="message"></textarea>
                <input type="submit" value="@WebApplication.Resources.Common.Send" />
                </text>
                }
            }
            @foreach (var comment in Model.Comments)
            {
                <div class="comment">
                    <div class="content">
                        @comment.Content
                    </div>
                    <div class="bottom">
                        <div class="left">
                            @if (ViewBag.Logged && (int.Parse((string)Session["UserId"]) == comment.User.Id || (UserTypes)Session["UserType"] >= UserTypes.Administrator))
                            {                            
                                @Html.ActionLink(WebApplication.Resources.Common.Delete, "Delete", "Comment", new { id = comment.Id }, null)                            
                            }
                            <span>@comment.User.Username</span>
                        </div>
                        <div class="center">
                        </div>
                        <div class="right">
                            <span>@comment.Date</span>
                        </div>
                    </div>
                </div>
            }
            <!-- Kommentek -->
        </div>
    </div>
}
else
{
    ViewBag.Title = Model.huTitle; 
    <div class="accordion_container" style="min-height: 38px;">
        <h2 class="accordion_panel active">
            Bejegyzés olvasása</h2>
    </div>   
    <div class="entry">
        <div class="entry-title">@Model.huTitle
        </div>
        <div class="entry-info">
            <span style="margin: 0 10px 0 0;">Dátum: @Model.PublishedDate.ToLongDateString()</span>
            @if (Model.Categories.Count > 1)
            {
                <text>Kategóriák &raquo; </text>
            }
            else
            {
                <text>Kategória &raquo; </text>
            }
            @foreach (var category in Model.Categories)
            {
                <text>@category.huTitle</text>
            }
        </div>
        <div class="entry-content">
            <div style="font-weight: bold;">@Html.Raw(HttpUtility.HtmlDecode(Model.huIntroduction))</div>
            <br />
            @Html.Raw(HttpUtility.HtmlDecode(Model.huContent))
            @if (Model.Files.Count > 0)
            {
                if (!ViewBag.Logged)
                {                    
                <h3>@WebApplication.Resources.Common.NotPermissionAttachments</h3>
                }
                else
                {
                <div class="attachments" style="margin-top: 5px;">
                    @{
                    foreach (var item in Model.Files)
                    {
                        <text><span class="attachments-element" id="attachment-@item.Id">@Html.ActionLink(item.Name + " (" + Common.GetMimeType(item.Name) + ")", "File", "DropBox", new { id = item.Location }, new { target = "_blank" })</span>
                        <br /></text>
                    }
                    }
                </div>
                }
            }
            <h2>@WebApplication.Resources.Common.Keywords</h2>
            @foreach (var item in Model.Keywords.Where(e => e.Type == false))
            {
                <span class="keywords">@item.Value</span>
            }
            @if (Session["UserType"] != null && (UserTypes)Session["UserType"] >= UserTypes.Administrator)
            {
                @Html.ActionLinkButton(Url, "Edit", "Entry", new { id = Model.Id }, "Admin") 
            }
        </div>
        <div class="entry-bottom">
            <div class="fb">@Common.FacebookLink(date, Model.Id, Model.huTitle.Urlable(), "hu/")  @Common.TwitterLink(date, Model.Id, Model.huTitle.Urlable(), "hu/")  @Common.GooglePlusLink(date, Model.Id, Model.huTitle.Urlable(), "hu/")</div>
            <h2 style="padding: 5px;">@WebApplication.Resources.Common.Comments</h2>
            @if (!ViewBag.Logged)
            {
                <h3>@WebApplication.Resources.Common.NotPermissionComment</h3>
            }
            else
            {
                using (Html.BeginForm("Add", "Comment", FormMethod.Post))
                {
                <text>
                <input type="hidden" name="entryId" id="entryId" value="@Model.Id" />
                <textarea placeholder="@WebApplication.Resources.Common.CommentPlaceholder" name="message" style="width: 500px; margin-left: 20px; height: 110px;" cols="0" rows="0" id="message"></textarea>
                <input type="submit" value="@WebApplication.Resources.Common.Send" />
                </text>
                }
            }
            @foreach (var comment in Model.Comments)
            {
                <div class="comment">
                    <div class="content">
                        @comment.Content
                    </div>
                    <div class="bottom">
                        <div class="left">
                            @if (ViewBag.Logged && (int.Parse((string)Session["UserId"]) == comment.User.Id || (UserTypes)Session["UserType"] >= UserTypes.Administrator))
                            {                            
                                @Html.ActionLink(WebApplication.Resources.Common.Delete, "Delete", "Comment", new { id = comment.Id }, null)                            
                            }
                            <span>@comment.User.Username</span>
                        </div>
                        <div class="center">
                        </div>
                        <div class="right">
                            <span>@comment.Date</span>
                        </div>
                    </div>
                </div>
            }
            <!-- Kommentek -->
        </div>
    </div>
}
