@model IEnumerable<WebApplication.Entry>
@{
    ViewBag.Title = "Index";
}


@section AdditionalScripts
{
    <script type="text/javascript">
        $(document).ready(function () {
        
            function nextElement() {
                var result = 'undefined';
                var list = $('.entry-title').each(function (index, value) {
                    var offset = $(value).offset().top - $(window).scrollTop();
                    if (index == 0)
                        result = value;
                    else if ($(result).offset().top - $(window).scrollTop() < 60)
                        result = value;
                    else if (offset > 60 && $(result).offset().top - $(window).scrollTop() > offset)
                        result = value;
                });
                return result;
            }

            function backElement() {
                var result = 'undefined';
                var wTop = $(window).scrollTop();
                var list = $('.entry-title').each(function (index, value) {
                    var offset = $(value).offset().top - $(window).scrollTop();
                    if (index == 0)
                        result = value;
                    else if (offset > $(result).offset().top - $(window).scrollTop() && offset < 0)
                        result = value;
                });
                return result;
            }

            $(document).keypress(function (e) {
                var additional = $(window).scrollTop() + 50;
                if ($("*:focus").length != 0)
                    return;
                switch (e.which) {
                    //next  
                    case 110:
                        var next = nextElement();
                        $('html, body').animate({ scrollTop: $(next).position().top - 50 }, 'slow');
                        break;
                    //back  
                    case 98:
                        var back = backElement();
                        $('html, body').animate({ scrollTop: $(back).position().top - 50 }, 'slow');
                        break;
                }

            });
        });

    </script>
}

<div class="accordion_container" style="min-height: 38px;">
    <h2 class="accordion_panel active">
        @WebApplication.Resources.Common.FeaturedEntries</h2>
</div>

@Html.Partial("_slider", Model.Where(e => e.IsFeatured))

<div class="accordion_container" style="min-height: 38px;">
    <h2 class="accordion_panel active">
        @WebApplication.Resources.Common.MoreEntries</h2>
</div>

@Html.Partial("_entriesList", Model.Where(e => !e.IsFeatured))

@if (Model.Count() == (int)ViewBag.max)
{
<div class="loader" id="#loadMore">
    <div class="l"><input type="hidden" value="@string.Join(",", Model.Select(e => e.Id).ToArray())" id="entry-ids" /></div>
</div>
}