@model WebApplication.Category
@using WebApplication
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = WebApplication.Resources.Common.Category + " - " + WebApplication.Resources.Common.Create;
    ViewBag.PageTitle = WebApplication.Resources.Common.Category;
}
@section AdditionScriptsEnd{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.5.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.visualize.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/widgets.js")"></script>
}
@section AdditionalOnready{
jQuery('.accordion_container').accordion();
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @Class = "form label-inline uniform" }))
{
    <div class="content_pad">
        <h3>@WebApplication.Resources.Common.Create</h3>
        <div class="accordion_container" style="min-height: 429px;">
            <h2 class="accordion_panel active">
                <a href="#">@WebApplication.Resources.Common.Title</a></h2>
            <div class="accordion_content" style="display: block;">
                @Html.ValidationSummary(true)
                <div class="field" style="margin-top: 20px;">
                    @Html.LabelFor(model => model.huTitle, "Magyar cím")
                    @Html.TextBoxFor(model => model.huTitle, new { size = "50" })
                    @Html.ValidationMessageFor(model => model.huTitle)
                </div>
                <div class="field">
                    @Html.LabelFor(model => model.enTitle, "English title")
                    @Html.TextBoxFor(model => model.enTitle, new { size = "50" })
                    @Html.ValidationMessageFor(model => model.enTitle)
                </div>
            </div>
        </div>
    </div> 
    <div class="content_pad">
        <input type="submit" value="@WebApplication.Resources.Common.Save" />
        @Html.ActionLinkButton(Url, "Index", "Category", null, WebApplication.Resources.Common.BackToList)
    </div>
}