@model WebApplication.Models.NewPasswordModel
<div class="box">
    @{using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
      {
        <h1>
            @WebApplication.Resources.Common.ChangePass</h1>
        <fieldset id="user-message">
            @Html.Label(WebApplication.Resources.Common.OldPw)
            @Html.ValidationMessageFor(model => model.OldPassword)
            @Html.EditorFor(model => model.OldPassword)
            @Html.Label(WebApplication.Resources.Common.NewPw)
            @Html.ValidationMessageFor(model => model.NewPassword)
            @Html.EditorFor(model => model.NewPassword)
            @Html.Label(WebApplication.Resources.Common.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.NewConfirmPassword)
            @Html.EditorFor(model => model.NewConfirmPassword)
            <input type="submit" value="@WebApplication.Resources.Common.Save" name="submit" class="submit" />
            <input type="button" value="@WebApplication.Resources.Common.Cancel" onclick="document.getElementById('changepass').style.visibility = 'hidden'"
                name="submit" class="submit" />
        </fieldset>
        <!-- end user-message -->
      }}
</div>
