@model IEnumerable<WebApplication.Entry>
           
@foreach (var item in Model)
{
    int year = item.PublishedDate.Year;
    int month = item.PublishedDate.Month;
    int day = item.PublishedDate.Day;
    string date = year.ToString() + ((month < 10) ? "0" : "") + month.ToString() + ((day < 10) ? "0" : "") + day.ToString();
    string url = "Entries/" + date + "/" + item.Id + "/";
    string att = "";
    if (item.Files.Count > 0)
    {
        att = "<div class=\"attachments-span\"></div>";
    }
    if (Culture != "hu-HU")
    {
    <div class="entry">
        <div class="entry-title">@item.enTitle @(new MvcHtmlString(att))
        </div>
        <div class="entry-info">
            <span style="margin: 0 10px 0 0;">Date: @item.PublishedDate.ToLongDateString()</span><span
                style="margin: 0 10px 0 0;">&#149;</span>
            @if (@item.Categories.Count > 1)
            {
                <text>Categories &raquo; </text>
            }
            else
            {
                <text>Category &raquo; </text>
            }
            @foreach (var category in item.Categories)
            {
                <text>@category.enTitle</text>
            }
        </div>
        <div class="entry-content">@Html.Raw(HttpUtility.HtmlDecode(item.enIntroduction))<br />
            @if (Session["UserType"] != null && (UserTypes)Session["UserType"] >= UserTypes.Administrator)
            {
                @Html.ActionLinkButton(Url, "Edit", "Entry", new { id = item.Id }, "Admin") 
            }
            @Html.ActionLinkButton("en/" + url + item.enTitle.Urlable(), "More...")
        </div>
        <div class="entry-bottom">
        </div>
    </div>
    }
    else
    {
    <div class="entry">
        <div class="entry-title">@item.huTitle @(new MvcHtmlString(att))
        </div>
        <div class="entry-info">
            <span style="margin: 0 10px 0 0;">Dátum: @item.PublishedDate.ToLongDateString()</span><span
                style="margin: 0 10px 0 0;"> &#149;</span>
            @if (@item.Categories.Count > 1)
            {
                <text>Kategóriák &raquo; </text>
            }
            else
            {
                <text>Kategória &raquo; </text>
            }
            @foreach (var category in item.Categories)
            {
                <text>@category.huTitle</text>
            }
        </div>
        <div class="entry-content">@Html.Raw(HttpUtility.HtmlDecode(item.huIntroduction))
            <br />
            @if (Session["UserType"] != null && (UserTypes)Session["UserType"] >= UserTypes.Administrator)
            {
                @Html.ActionLinkButton(Url, "Edit", "Entry", new { id = item.Id }, "Admin") 
            }
            @Html.ActionLinkButton(url + item.huTitle.Urlable(), "Tovább...")
        </div>
        <div class="entry-bottom">
        </div>
    </div>
    }
}
