@model IEnumerable<Entry>
<div id="featured">
    <ul class="ui-tabs-nav">
        @for (int i = 1; i <= Model.Count(); i++)
        {
            if (i == 1)
            {
            <text><li class="ui-tabs-nav-item ui-tabs-selected" id="nav-fragment-1"><a href="#fragment-1">
                <span></span></a></li></text>
            }
            else
            {
            <text><li class="ui-tabs-nav-item" id="nav-fragment-@i"><a href="#fragment-@i"><span>
            </span></a></li></text>
            }
        }
    </ul>
    @for (int i = 1; i <= Model.Count(); i++)
    {

        int year = Model.ElementAt(i - 1).PublishedDate.Year;
        int month = Model.ElementAt(i - 1).PublishedDate.Month;
        int day = Model.ElementAt(i - 1).PublishedDate.Day;
        string date = year.ToString() + ((month < 10) ? "0" : "") + month.ToString() + ((day < 10) ? "0" : "") + day.ToString();
        string url = "Entries/" + date + "/" + Model.ElementAt(i - 1).Id;
        
        <div id="fragment-@i" class="ui-tabs-panel" style="">
            <img src="@Model.ElementAt(i - 1).FeaturedImage" alt="" />
            <div class="info">
                @if (Culture != "hu-HU")
                {   
                    <h2><a href="en/@url/@Model.ElementAt(i - 1).enTitle.Urlable()">@Model.ElementAt(i - 1).enTitle</a></h2>
                    <p><a href="en/@url/@Model.ElementAt(i - 1).enTitle.Urlable()">@Html.Raw(Model.ElementAt(i - 1).FeaturedEnText)</a></p>
                }
                else
                {
                    <h2><a href="hu/@url/@Model.ElementAt(i - 1).huTitle.Urlable()">@Model.ElementAt(i - 1).huTitle</a></h2>
                    <p><a href="hu/@url/@Model.ElementAt(i - 1).huTitle.Urlable()">@Html.Raw(Model.ElementAt(i - 1).FeaturedHuText)</a></p>
                }
            </div>
        </div>        
    }
</div>
