@model IEnumerable<WebApplication.Entry>
@{
    ViewBag.Title = WebApplication.Resources.Common.Entries;
    var published = Model.Where(m => m.Published);
    var notPublished = Model.Where(m => !m.Published);
    ViewBag.PageTitle = WebApplication.Resources.Common.Entries;    
}
<div class="content_pad">
    @Html.ActionLinkButton(Url, "Create", "Entry", null, WebApplication.Resources.Common.Create)
    <h3>@WebApplication.Resources.Common.NotPublished</h3>
    @(Html.Telerik().Grid(notPublished)
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(o => o.huTitle).Title("Magyar cím");
            columns.Bound(o => o.enTitle).Title("English title");
            columns.Bound(o => o.PublishedDate).Title(WebApplication.Resources.Common.Date);
            columns.Bound(o => o.Creator.Username).Title(WebApplication.Resources.Common.CreatedBy);
            columns.Template(
                @<text>
    @Html.ActionLinkButton(Url, "Edit", "Entry", new { id = item.Id }, WebApplication.Resources.Common.Edit)
    @Html.ActionLinkButton(Url, "Delete", "Entry", new { id = item.Id }, WebApplication.Resources.Common.Delete)
    @Html.ActionLinkButton(Url, "Details", "Entry", new { id = item.Id }, WebApplication.Resources.Common.Details)
    @Html.ActionLinkButton(Url, "Publish", "Entry", new { id = item.Id }, WebApplication.Resources.Common.Publish)
    </text>
            ).Title("").Width(400);
        })
        .Scrollable(scrolling => scrolling.Enabled(false))
        .Sortable(sorting => sorting.Enabled(true))
        .Pageable(paging => paging.Enabled(true))
        .Footer(true)
)
    <h3>@WebApplication.Resources.Common.AlreadyPublished</h3>
    @(Html.Telerik().Grid(published)
        .Name("Grid2")
        .Columns(columns =>
        {
            columns.Bound(o => o.huTitle).Title("Magyar cím");
            columns.Bound(o => o.enTitle).Title("English title");
            columns.Bound(o => o.PublishedDate).Title(WebApplication.Resources.Common.Date);
            columns.Bound(o => o.Creator.Username).Title(WebApplication.Resources.Common.CreatedBy);
            columns.Template(
                @<text>
    @Html.ActionLinkButton(Url, "Edit", "Entry", new { id = item.Id }, WebApplication.Resources.Common.Edit)
    @Html.ActionLinkButton(Url, "Delete", "Entry", new { id = item.Id }, WebApplication.Resources.Common.Delete)
    @Html.ActionLinkButton(Url, "Details", "Entry", new { id = item.Id }, WebApplication.Resources.Common.Details)
    @Html.ActionLinkButton(Url, "UnPublish", "Entry", new { id = item.Id }, WebApplication.Resources.Common.Unpublish)
    </text>
            ).Title("").Width(400);
        })
        .Scrollable(scrolling => scrolling.Enabled(false))
        .Sortable(sorting => sorting.Enabled(true))
        .Pageable(paging => paging.Enabled(true))
        .Footer(true)
)
</div>
